<br/>

<div class="span6 offset3 smurfy text-center">

	<h1 class="custom-h1 ">
		SignUp. Connect. Relax 
	</h1>

	<img src="http://www.locbox.com/assets/customers/happy-head-massage/mobile-lto.png" width="200" height="85"  class="img_padding" >

	<br/>

	<img src="https://devimages.apple.com.edgekey.net/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg" class="img_padding" > 

	<br/>

<!--     <%= link_to 'Learn more', '#', :class => 'btn btn-warning '%>
 -->

</div>

<br/>
<br/>

